body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9e9d9a;
}
header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 150px;
   
}
h1{
    color: #070c06;
    padding: 35px;
   
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:10px auto;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 25px;
    gap: 15px;
    width: 350px;
    border-color: #070c06;
    background-color: #a6aaaa;
}
.btnSubmit {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    width: 90px;
    height: 33px;
    color: #faf9f9;
    
}
.input {
    width: 250px;
    padding: 10px;
    border: 1px solid #070303;
    border-radius: 15px;
    font-size: 15px;
}
.inputContainer {
    display: flex;
    width: 250px;
    border: 1px solid #f3f2f2;
    border-radius: 15px;
    font-size: 15px;
}
.btnSubmit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26c506;

}
footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}